*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    font-family: 'Lucida Sans';
}
header{
    margin-bottom: 50px;
    color: whitesmoke;
}
header a{
    color: white;
}
.bg-header{
    background-color: rgb(47, 168, 168);
}
.dashboard, .main-body {
    margin-top: 13px;
}
.sidebar{
    height: 100vh;
    background-color: rgb(65, 150, 150);
    box-shadow: 5px 5px 5px 2px black;
    color: white;
    justify-content: center;
    text-align: center;
     
}
.sidebar ul{
margin: 10px;
}
.user-img {
    width: 30%;
    height: 60px;
    border-radius: 50%;
    border: 2px dashed black;
}
.sidebar li{
    list-style: none;
    margin: 20px;
    border-bottom: 1px solid black;
    width: 90%;
}

.main-page{
    color: black;
    
}


