@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:ital,wght@0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
    scroll-behavior: smooth;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}
/* top header  */
.top-header{
    background-color: #155494;
    display: inline-block;
}

.top-header a {
    float: right;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.top-header a:hover{
    color: white;
}

/* nav bar  */
.logo{
    animation: perspective 4s infinite linear;
   
}

@keyframes perspective {
    0% {transform:perspective(300px) rotateY(0deg)}
    25% {transform:perspective(300px) rotateY(90deg)}
    50% {transform:perspective(300px) rotateY(180deg)}
    75% {transform:perspective(300px) rotateY(270deg)}
    100% {transform:perspective(300px) rotateY(360deg)}
 }
 
 /* logo end  */
.bg-header{
    background-color: rgb(244, 240, 240);
    /*background-color: #155494;*/
    font-family: 'Roboto', monospace;
}

/* page banner */
.page-banner{
    position: relative;

}
.page-banner-bg{
/*    background-color: #155494;
    background-image: url(../img/ba.png);
    width: 100%;
    height: 500px;*/
    width: 100%;
    height: 470px;
    background-image: linear-gradient(to top, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0)),
    url(../img/bac.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: bottom right, left, right;
 }

 .banner-body{
    margin-top: 15%;
    position: absolute;
    color: whitesmoke;
    font-weight: 700;
    padding: 40px;
    line-height: 15px;
    font-family: 'Montserrat', serif;

 }

 .banner-body span{
    color: #155494;
    font-weight: 900;
    font-size: 30px;
 }

 .and{
    font-size: 20px;
    margin-left:40px;
    color: #155494;
    
}
.btn-banner{
    background-color: #155494;
    border: none;
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    margin: 5px;
    font-weight: 700;
    box-shadow: 0px 0px 5px #fff;
    width: 20%;
    /* transform: rotate3d(); */
    transform: perspective(400px) rotateY(45deg);
    }

/*    
 .btn-banner:hover{
    transform: rotate(0.5turn);

}  */
 
 @media (max-width: 760px) {
    .btn-banner{
        width: 30%;
    }
    .banner-body{
        margin-top: 45%;
        line-height: normal;
        padding: 5px;
        font-weight: 500;
        font-size: 15px;
    }

.and{
    font-size: 20px;
    margin-left:40px;
    padding: 0;
    margin: 0;
}
 
 }

 /* services  */
 .services {

    margin: 40px;
 }
 .services-body{
    border: 1px groove #155494;
    border-radius: 50px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.services-body img{
width: 100%;
padding: 10px;
 }
 .services-body p{
    color: #155494;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    
 }

.services-body a{
    background-color: #155494;
    padding: 10px;
    color: whitesmoke;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    display: block;
    margin-top: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.services-body a:hover{
    text-decoration: none;
}
@media (max-width: 760px) {
    .services-body{
        margin: 10px;
    }
    .services-body img{
        width: 50%;
        height: 150px;
    }
}


/* disply icons list  */

.icons-list {
    display: inline-flex;
    background-color: #dacfcf;
    border-radius: 5px;
    color: black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    /* box-shadow: -28px 27px 27.5px rgba(0, 0, 0, 53),
    10px -29px 37.5px rgb(255, 255, 255),
    inset 4px -4px 8px rgba(0, 0, 0 .52),
    inset -5px 5px 12px #fff; */
}

.icons-list i{
    font-size: 20px;
    display: block;
    padding: 10px;
    color: #155494;
}
.icons-list span{
    font-size: 15px;
    padding: 10px;
}

.vl {
    border-left: 2px solid #155494;
    height: 65px;
  }

@media (max-width:760px) {
    .trust-div{
        justify-content: center;
        
    }
    .icons-list{
        padding-left: 5px;
    }

    .icons-list i{
        font-size: 90%;

    }
    .icons-list span{
        font-size: 12px;
        line-height: 0px;
        padding: 0;
        margin: 0;
    }

.vl {
    height: 99px;
    padding: 2px;
  }

}

/* data prices list  */
.mtn, .glo, .airtel, .etisalat{
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
    border-image: -moz-linear-gradient(left, #fed330 0%, #fed330 20%, #e63841 20%, #e63841 20%, #e63841 40%, #5ed6fd 40%, #5ed6fd 40%, #e63841 40%, #5ed6fd 40%, #5ed6fd 40%, #5ed6fd 60%, #45c33b 60%, #45c33b 80%, #1172c0 80%, #1172c0 80%, #1172c0 100%); /* FF3.6+ */
  border-image: -webkit-gradient(linear, left top, right top, color-stop(0%,#fed330), color-stop(20%,#fed330), color-stop(20%,#e63841), color-stop(20%,#e63841), color-stop(40%,#e63841), color-stop(40%,#5ed6fd), color-stop(40%,#5ed6fd), color-stop(40%,#e63841), color-stop(40%,#5ed6fd), color-stop(40%,#5ed6fd), color-stop(60%,#5ed6fd), color-stop(60%,#45c33b), color-stop(80%,#45c33b), color-stop(80%,#1172c0), color-stop(80%,#1172c0), color-stop(100%,#1172c0)) 1 stretch repeat; /* Chrome,Safari4+ */
  border-image: -webkit-linear-gradient(left, #fed330 0%,#fed330 20%,#e63841 20%,#e63841 20%,#e63841 40%,#5ed6fd 40%,#5ed6fd 40%,#e63841 40%,#5ed6fd 40%,#5ed6fd 40%,#5ed6fd 60%,#45c33b 60%,#45c33b 80%,#1172c0 80%,#1172c0 80%,#1172c0 100%) 1 stretch repeat; /* Chrome10+,Safari5.1+ */
  border-image: -o-linear-gradient(left, #fed330 0%,#fed330 20%,#e63841 20%,#e63841 20%,#e63841 40%,#5ed6fd 40%,#5ed6fd 40%,#e63841 40%,#5ed6fd 40%,#5ed6fd 40%,#5ed6fd 60%,#45c33b 60%,#45c33b 80%,#1172c0 80%,#1172c0 80%,#1172c0 100%) 1 stretch repeat; /* Opera 11.10+ */
  border-image: -ms-linear-gradient(left, #fed330 0%,#fed330 20%,#e63841 20%,#e63841 20%,#e63841 40%,#5ed6fd 40%,#5ed6fd 40%,#e63841 40%,#5ed6fd 40%,#5ed6fd 40%,#5ed6fd 60%,#45c33b 60%,#45c33b 80%,#1172c0 80%,#1172c0 80%,#1172c0 100%) 1 stretch repeat; /* IE10+ */
  border-image: linear-gradient(to right, #fed330 0%,#fed330 20%,#e63841 20%,#e63841 20%,#e63841 40%,#5ed6fd 40%,#5ed6fd 40%,#e63841 40%,#5ed6fd 40%,#5ed6fd 40%,#5ed6fd 60%,#45c33b 60%,#45c33b 80%,#1172c0 80%,#1172c0 80%,#1172c0 100%) 1 stretch repeat; /* W3C */
    transform: perspective(400px) rotateY(20deg);
    
}

.mtn, .glo, .airtel, .etisalat ul{
    padding: 10px;
    font-size: 20px;

}

.mtn li{
    list-style-position: inside;
    list-style-type: square;
    border-bottom: 1px solid #155494;
    margin: 2%;

    
}

.glo li{
    list-style-position: inside;
    list-style-type: square;
    border-bottom: 1px solid #155494;
    margin: 2%;

}

.etisalat li{
    list-style-position: inside;
    list-style-type: square;
    border-bottom: 1px solid #155494;
    margin: 2%;

}
.airtel li{
    list-style-position: inside;
    list-style-type: square;
    border-bottom: 1px solid #155494;
    margin: 2%;

}
@media (max-width: 760px) 
{
 .mtn, .airtel, .glo, .etisalat{
    width: 43%;
    height: auto; 
    margin-bottom: 30px;
    padding: 5px;
    font-size: 15px;
 }   
}
