*{
    padding: 0;
    margin: 0;
}
body, html{
    background-color: rgba(211, 40, 40, 0.842);
}
.container{
    padding: 10px;
    justify-content: center;
    text-align: center;
}
input[type="text"]{
    border: none;

}
::placeholder{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}